$bg-colour: #ccc;

body {
  background-color: $bg-colour;
}

.imgBk {
  background-image: url("https://cnet2.cbsistatic.com/img/QLti68l9sc0YoPJOEXmJ_fzRCE0=/980x551/2019/02/26/42db1274-87b0-492c-817d-739fde306250/2020-jaguar-xe-24.jpg");
  width: 300px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  //   background-color: blue;
}
